@import 'setup';
@import 'variables';

@mixin fontRoboto($sizeValue) {
	font-size: $sizeValue;
	font-family: $roboto;
	text-transform: uppercase;
}
	
//---GLOBAL ---//
@media (max-width: 1600px) {
	html {
	font-size: 10px;
	}
}

h1, h2, h3, p {
	margin: 0;
	padding: 0;
}
body {
	background:black;
}

h2 {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 5rem;
	font-family: $oswald;
	text-align: center;
}

h2:nth-child(1) {
	padding-top:2.2rem;
}

h3 {
	@include fontRoboto(1rem);
	color:white;
	margin-top: 1.5rem;
	font-weight: 500;
	letter-spacing: 0.068rem;
}

p {
	font-family: $roboto;
	font-size: 1.5rem;
	margin: 2%;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 0.75;
}


fieldset {
	border:none;
}

button, #next2 {
	border: 1px $red;
	background: $red;
	color: white;
	text-transform: uppercase;
	padding: 10px;
	width: 200px;
	font-family: $roboto;
	margin: 5% 3%;
	font-size: 1.3rem;
	letter-spacing: 1px;
	&:focus {
	outline: 0;
	}
	&:hover {
		background: darken($red, 7%);
	}
}

//---SECTION 1 ---//

#section1 {
	background: url(../../images/backgroundimg.jpg);
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	h1 {
		font-family: $oswald;
		text-transform: uppercase;
		font-size: 7rem;
		font-weight: 300;
		margin: 5%;
		letter-spacing: -1px;
	}
}

.wrapper {
		margin: 0 auto;
		width: 65%;
		padding: 10px;
		text-align: center;
		background: rgba(255,255,255,0.75); 
	}

.inner-wrapper {
	background: rgba(255,255,255,0.75); 
	padding: 0;
	border: 1px solid #a9a9a9;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	p {
		margin:1%;
	}
}

.inner-wrapper img {
	position: absolute;
    top: 42%;
}

#section1, #section2,  #section3,  #section4, #section5  {
	min-height: 100vh;
}

#section2,  #section3,  #section4, #section5  {
	display: none;
}
//---- SECTION 2--------///

#section2 {
	background: black;
	.title {
		text-align: center;
		color:white;
	}
}

.make-up {
	text-align: center;
}

.make-up input[type=checkbox]:checked + label .icon .white{
	fill: black;
}

.make-up input[type=checkbox]:checked + label .icon{
	background: $red;
}

.make-up svg {
	height: 5.4rem;
}

.icon {
	background: $grey;
	width: 100px;
	border-radius: 50%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	transition: all ease .3s;
	&:hover {
		background: #37393b;
		cursor: pointer;
	}
}

.btn-wrapper {
	width: 100%;
	text-align: center;
}

.section-wrapper {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}


//-----SECTION 3 --------//

#section3 {
	background: black;
	color: white;
	text-align: center;
}

.price-wrapper {
	display: flex;
	width: 80%;
	justify-content: center;
	align-items: center;
	max-width: 940px;
	margin: 0 auto;
	// flex-wrap:wrap;
}

.sec3-price {
	text-align: center;
	margin: 4rem 2rem 3rem;
	width: 30%;
	input {
		display: none;
	}
}

.sec3-price input[type=radio]:checked + label .icon .white {
	fill: black;
}

.sec3-price input[type=radio]:checked + label .icon {
	background: $red;
}


.sec3-price svg {
	height: 3rem;
}

//-----SECTION 4 --------//
#section4 {
	background: black;
	color: white;
	text-align: center;
}

.make-up-wrapper {
	margin: 0 auto;
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	max-width:940px;
	justify-content: center;
	align-items: center;
}

.make-up {
	margin: 2rem 1.6rem;
	input{
		visibility: hidden;
	}
	h3 {
		margin-bottom: 2rem;
	}
}

.last-results {
	width: 80%;
	margin: 0 auto;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	max-width: 1240px;
	input[type=checkbox] {
 			display:none;
 		}

	img {
		height: 110px;
	}
	.productItem {
		text-align: center;
		width: 250px;
		border: 4px solid white;
		height: 250px;
		margin: 6px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 15px;
		background: white;
		position: relative;
		&:hover {
			border: 4px solid #dbdbdb;
		}
		p {
		line-height: 1.76rem;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.3rem;
		margin-top:10px;
		color:$grey;
		}
		.price {
			font-weight: 600;
			font-size: 1.2rem;
			margin: 5px 0px 20px;
		}
		a {
			font-family: $roboto;
			color: grey;
			text-decoration: none;
			position: absolute;
			right: 50%;
			bottom: 15px;
			transform: translateX(50%);
			letter-spacing: 0.018rem;
			&:hover {
				color: $red;
			}
		}
	}
}

.last-results input[type=checkbox]:checked ~ .productItem {
	border: 4px solid $red;
}

// #loader {
// 	display: none;
// }

//-----SECTION 5 --------//

#section5 {
	background: url(../../images/bg1.png);
	background-size: cover;
	color: white;
}

// .finalKit {
// 	flex-direction: column;
// }

.finalKit {
	display: flex;
	flex-direction: column;
	align-items: center;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    .title {
    	color: black;
    	margin-bottom: 3%;
    }

}
.finalSection {
	display: flex;
    // align-items: center;
    .kitSelection {
    	display: flex;
    	flex-direction: column;
    	justify-content: space-between;
    	align-items: center;
    	width: 100%;
    	max-width: 100%;
    	max-height: 100%;
    	border: 1px solid #8f8f8f;
    	margin: 6px;
    	align-items: center;
		padding: 15px;
		background: white;
    }
	img {
		max-width: 100%;
		max-height: 100%;
		width: 200px;
		height: 200px;
	}
	p {
		line-height: 1.76rem;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.3rem;
		margin-top:10px;
		}
	.price {
			font-weight: 600;
			font-size: 1.2rem;
			// margin-top:5px;
		}	
	a, p {
		font-family: $roboto;
		color: grey;
		text-decoration: none;
	}
}

.kitSelection {
	justify-content: space-between;
}	

button i {
	color: white;
}

@import 'mediaqueries';